@model Website_Library.Models.PhieuMuon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Index.cshtml";
}

<style>
    /* CSS */
    .delete-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .delete-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .delete-content {
        margin-bottom: 20px;
    }

    .delete-label {
        font-weight: bold;
    }

    .delete-actions {
        text-align: center;
    }

    .btn-delete {
        margin-right: 10px;
    }

    .details-item {
        margin-left: 100px;
    }
</style>

<div class="delete-container">
    <div class="delete-title"></div>
    <div class="delete-content">
        <h3 style="margin-left:50px">Bạn có chắc chắn muốn xóa không?</h3>
        <div class="details-item">
            <span class="delete-label">@Html.DisplayNameFor(model => model.SinhVien.TenSinhVien)</span>
            <span class="details-value">@Html.DisplayFor(model => model.SinhVien.TenSinhVien)</span>
        </div>
        <div class="details-item">
            <span class="delete-label">@Html.DisplayNameFor(model => model.Sach.TenSach)</span>
            <span class="details-value">@Html.DisplayFor(model => model.Sach.TenSach)</span>
        </div>

        <div class="details-item">
            <span class="delete-label">@Html.DisplayNameFor(model => model.NgayMuon)</span>
            <span class="details-value">@Html.DisplayFor(model => model.NgayMuon)</span>
        </div>
        <div class="details-item">
            <span class="delete-label">@Html.DisplayNameFor(model => model.NgayTraDuKien)</span>
            <span class="details-value">@Html.DisplayFor(model => model.NgayTraDuKien)</span>
        </div>
        <div class="details-item">
            <span class="delete-label">@Html.DisplayNameFor(model => model.NgayTraThucTe)</span>
            <span class="details-value">@Html.DisplayFor(model => model.NgayTraThucTe)</span>
        </div>
        <div class="details-item">
            <span class="delete-label">@Html.DisplayNameFor(model => model.TinhTrang)</span>
            <span class="details-value">@Html.DisplayFor(model => model.TinhTrang)</span>
        </div>
        <div class="details-item">
            <span class="delete-label">@Html.DisplayNameFor(model => model.GhiChu)</span>
            <span class="details-value">@Html.DisplayFor(model => model.GhiChu)</span>
        </div>

    </div>
    <div class="delete-actions">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger btn-delete">Delete</button>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-delete" })
        }
    </div>
</div>
