@model Website_Library.Models.TAIKHOAN
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Login.cshtml";
    string taikhoan = Request.Cookies["TaiKhoan"].Value;
}

@using (Html.BeginForm("Change_Password", "Account", FormMethod.Post, new { @class = "login100-form validate-form" }))
{
    @Html.AntiForgeryToken()
    <span class="login100-form-title">
        Thay đổi mật khẩu
    </span>
    <div class="form-group">
        @Html.HiddenFor(m => m.Username, htmlAttributes: new { @class = "form-control input-lg", @Value = taikhoan })
    </div>
    <div class="wrap-input100 validate-input">
        @Html.PasswordFor(model => model.Password, new { @class = "input100", @placeholder = "Mật khẩu cũ" })
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="wrap-input100 validate-input">
        @Html.PasswordFor(model => model.New_Password, new { @class = "input100", @placeholder = "Mật khẩu mới" })
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
    <div class="wrap-input100 validate-input">
        @Html.PasswordFor(model => model.Repeat_Password, new { @class = "input100", @placeholder = "Xác nhận mật khẩu" })
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

    <div class="container-login100-form-btn">
        <button id="saveButton" type="submit" class="login100-form-btn">
            Thay đổi mật khẩu
        </button>
    </div>
}


<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thành công!</h4>
            </div>
            <div class="modal-body">
                <p>Mật khẩu đã được thay đổi thành công!</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Hiển thị modal khi trang được tải
        $('#successModal').modal('show');

        // Đặt sự kiện khi nhấn vào nút "Save"
        $('#saveButton').click(function () {
            $('#successModal').modal('hide'); // Ẩn modal khi nhấn nút "Save"
        });
    });
</script>

