@model Website_Library.Models.NXB

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Index.cshtml";
}

<style>
    /* CSS */
    .input-field {
        width: 300px; /* Điều chỉnh chiều dài của input */
    }

    .input-label {
        width: 100px; /* Điều chỉnh chiều rộng của nhãn label */
    }

    .btn {
        color: black
    }
</style>
<h2 style="margin-left:40%; color:red; font-size:50px">NHÀ XUẤT BẢN</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => model.MaNXB)


    <div class="form-group">
        @Html.LabelFor(model => model.TenNXB, "Tên NXB", htmlAttributes: new { @class = "control-label col-md-2 input-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenNXB, new { htmlAttributes = new { @class = "form-control input-field" } })
            @Html.ValidationMessageFor(model => model.TenNXB, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DienThoai, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2 input-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control input-field" } })
            @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2 input-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control input-field" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}
