@model Website_Library.Models.NXB

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Index.cshtml";
}

<style>
    .edit-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .edit-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .edit-form {
        margin-bottom: 20px;
    }

    .edit-label {
        font-weight: bold;
    }

    .edit-actions {
        text-align: center;
    }

    .btn-save {
        margin-right: 10px;
    }
</style>

<div class="edit-container">
    <div class="edit-title">Chỉnh sửa</div>
    <div class="edit-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

          @Html.HiddenFor(model => model.MaNXB)

            <div class="form-group">
                @Html.LabelFor(model => model.TenNXB, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TenNXB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNXB, "", new { @class = "text-danger" })
            </div>

            <div class="edit-actions">
                <button type="submit" class="btn btn-success btn-save">Save</button>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-save" })
            </div>
        }
    </div>
</div>
